In [ ]:
a = 500   # aに500を代入
print(a)   # aを出力

In [ ]:
a = 123   # aに123を代入
b = a * 4   # aに4をかけてbに代入
print(b)   # bを出力

In [ ]:
a = 5
b = 8
print("aの値:", a)
print("bの値:", b)

In [ ]:
a = 3         # aに3を代入する
a = 5         # aに5を代入する（このあと、aの値は5に更新される）

print("a =", a)

In [ ]:
a = 3         # aに3を代入する
a = a + 5     # aの値(3)に5を加えて代入する

print("a =", a)

In [ ]:
a = 3         # aに3を代入する
a = a + 4     # aの値(3)に4を加えて、aに代入する
a = a * 5     # aの値(7)に5をかけて、aに代入する

print("a =", a)

In [ ]:
a = 3
b = 5

t = a   # aの値(3)が変数tに代入される
a = b   # bの値(5)がaに代入される
b = t   # 変数tに代入されていたaの元の値(3)がbに代入される

print("a =", a)
print("b =", b)

In [ ]:
a = 3
b = 5

a = b   # 最初にbの値（5）がaに代入される。この時点でaもbも5になる
b = a   # ここでaの値（すでに5になっている）がbに代入される。これによってbも5になる

print("a =", a)
print("b =", b)

In [ ]:
height = 169.0   # height:身長[cm]
weight = 56.0   # weight:体重[kg]

# BMI ＝ 体重[kg] ÷ 身長[m]の２乗
bmi = weight / (height/100.0)**2

print(bmi)   # BMIを出力

In [ ]:
a = 1   # 変数aがはじめて使われ、int型の1が代入される
print(a)

a = a / 5   # 計算結果(0.2)が小数になるので、aはfloat型になる
print(a)

a = a * 5   # 計算結果(1.0)は整数で表せるが、aの型はfloatのまま
print(a)

In [ ]:
junior_highschool = "海城" + "中学"    # 文字列どうしを足すと結合される
print(junior_highschool)

In [ ]:
junior_highschool = "海城" + "中学"
school_name = junior_highschool + "高等学校"
print(school_name)

In [ ]:
grade = 4
school_name = "海城中学高等学校"
school_name_grade = school_name + str(grade) +"年"  # 数値は文字列に変換してから結合
print(school_name_grade)

In [ ]:
lyrics = "朝に仰ぐ芙蓉峰\n玲瓏千古かげ高し\n夕に見やる太平洋\n渺茫万里はてもなし"
print(lyrics)

In [ ]:
s = "*"
s = s + s
s = s + s
s = s + s
print(s)

In [ ]:
a = "apple"
b = "banana"
c = "cherry"
d = "drian"

print(a)
print(b)
print(c)
print(d)
print(a, b, c, d)
print(a, b, c, d, end=".")
print(a, end="")
print(b, end="")
print(c, end="")
print(d, end="")
print(a, end=" ")
print(b, end=" ")
print(c, end=" ")
print(d, end=" ")
print(a, end=", ")
print(b, end=", ")
print(c, end=", ")
print(d, end=", ")
print(a, end="")
print()
print(b, end="")
print(a, b, c, d, sep=", ")
print(a, b, c, d, sep="")
print(a, b, sep="\t")
print(c, d, sep="\t")
print(a, b, c, d, sep="\n")