<a href="https://colab.research.google.com/github/kakimotokougyo/JOHO/blob/main/3_3_2%E6%AC%A1%E5%85%83%E3%83%AA%E3%82%B9%E3%83%88_%E3%83%8E%E3%83%BC%E3%83%88%E3%83%96%E3%83%83%E3%82%AF.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]
num = data[1][2]
print(num)

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]
row = data[1]
print(row)

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]
data[1][2] = 99   # 1行目，2列目の値を99にする。
print(data)

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]
print(len(data))

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]
print(len(data[2]))

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]

for i in range(len(data)):           # iを0からdataの要素数-1までループする
    for j in range(len(data[i])):    # jを0からi行目のリストの要素数-1までループする
        print(data[i][j], end="\t")  # i行目j列目の要素(data[i][j])を出力し、タブ文字\tで区切る（\はoption⌥＋¥）
    print()                          # 内側のループが終わったら改行を入れる

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]

for i in range(len(data)):
    print(data[i])

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]

for row in data:           # data内の配列を順番にリストrowに入れる
    for x in row:
        print(x, end="\t") # タブ文字\tで区切る（\はoption⌥＋¥）
    print()                # 内側のループが終わったら改行を入れる

In [ ]:
data = [
    [11, 12, 13, 14],
    [21, 22, 23, 24],
    [31, 32, 33, 34]
    ]

for row in data:  # data内の配列を順番にrowに入れる
    print(row)    # rowを表示